<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fun Space</title>
    <!-- Favicon-->
  <link  rel = "shortcut icon"  href = "../favicon.ico"  type = "image / x-icon" > 
  <link  rel = "icon"  href = "../favicon.ico"  type = "image / x-icon" >
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/estilos.css" rel="stylesheet" />
    <link href="/css/carrusel.css" rel="stylesheet" />

    
</head>
<form action="/categorias">
<body id="page-top">
    <!-- Navigation-->
    <header>
		<div class="contenedor">
			<svg viewBox="0 0 960 300">
                <symbol id="s-text">
                    <text text-anchor="middle" x="50%" y="40%">Fun Space</text>
                </symbol>
            
                <g class = "g-ants">
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                </g>
            </svg>
		</div>
	</header>
    <!-- Masthead-->
    <div id="izquierda">
    <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 1px;">
        <img src="https://i.pinimg.com/originals/65/df/5e/65df5ea0e2673ce3eb08c749ffeec090.jpg" alt="Man with backpack"    
            class="d-block w-full">
  <div class="px-2 py-2">
    <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
     Niños
    </h1>
  <a href="/ninos" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
    Comenzemos 
  </a>       
</div>
</div>
    </div>
<div id="derecha">
<div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 1px;">
    <img src="https://previews.123rf.com/images/emojiimage/emojiimage1709/emojiimage170900256/85421408-personajes-de-pareja-senior-haciendo-ejercicios-beneficios-de-actividad-f%C3%ADsica-para-adultos-mayores-ve.jpg" alt="Man with backpack"    
        class="d-block w-full">
        <div class="px-2 py-2">
            <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                Adultos
            </h1>     
        </div>
<a href="/adultos" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
Comenzemos
</a>       
</div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="assets/mail/jqBootstrapValidation.js"></script>
    <script src="assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="../scripts.js"></script>

</body>
</form>
</html>