table, th, td  {
    border: 2px solid rgb(225, 0, 255); 
	border-collapse : collapse;
	
 
}

input{
	color:rgb(0, 0, 0);
	background-color: transparent;
	font-size: 19px;
  }

title{
	color: #ffffff ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    display: flex;
    margin-left: -100px;
    margin-top: 50px;
    float: right;
    right:-70px;
	position: relative;
}


body #juventus{
	display: flex;
	width: 300px;
	height:300px;
	margin-top: -290px;
	margin-left: 740px;
	float: right;
	right:1500px;
  }
  
  
  body #ajax{
	
	display: flex;
	width: 300px;
	height:300px;
	margin-top: 100px;
	margin-right: 740px;
	float: right;
	right:1500px;
  } 
  body  {
	z-index: 1;
	background-image: url(../img/fondo.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
}
body::-webkit-scrollbar{
	width: 10px;
	background: none;
  }
  
  body::-webkit-scrollbar-thumb{
	background: rgb(12, 12, 12);
	border-radius: 10px;
  
  }
  
  .form-register .btn-neon{
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: rgb(0, 0, 0);
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 34px;
	overflow: hidden;
	transition: 0.1s;
	}
  .form-register .btn-neon:hover{
	 background: #a945c7;
	 box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
	 transition-delay: 0.50s;
	 }
	 .form-register .btn-neon span{
	 position: absolute;
	 display: block;
			}
	 #span1{
	 top: 0;
	 left: -100%;
	 width: 100%;
	 height: 2px;
	 background: linear-gradient(90deg, transparent,#a945c7);
	 }
	 .form-register .btn-neon:hover #span1{
	 left: 100%;
	 transition: 0.50s;
	 }
	 #span3{
	 bottom: 0;
	 right: -100%;
	 width: 100%;
	 height: 2px;
	 background: linear-gradient(270deg, transparent,#a945c7);
	 }
	 .form-register .btn-neon:hover #span3{
	  right: 100%;
	  transition: 0.50s;
	  transition-delay: 0.5s;
	  }
	  #span2{
	  top: -100%;
	  right: 0;
	  width: 2px;
	  height: 100%;
	  background: linear-gradient(180deg, transparent,#a945c7);
	  }
	  .form-register .btn-neon:hover #span2{
	  top: 100%;
	  transition: 0.50s;
	  transition-delay: 0.25s;
	  }
	  #span4{
	  bottom: -100%;
	  left: 0;
	  width: 2px;
	  height: 100%;
	  background: linear-gradient(360deg, transparent,#a945c7);
	  }
	  .form-register .btn-neon:hover #span4{
	  bottom: 100%;
	  transition: 0.50s;
	  transition-delay: 0.75s;
	  }
  
	.form-register .btn-neon{
		margin: -5px -90px; 
		position:relative;
		top:-400px; 
		left:600px;
	}
  