<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Formulario Registro</title>
</head>
<body>
<!--Clase madre del registro-->

<form action="/registro" method="POST"> 
  <section class="login-box">
    <h4>Bienvenido a Fun Space Comencemos</h4>
    <input class="controls" type="text" name="nombre" id="nombres" placeholder="Ingresa tu Nombre">
    <input class="controls" type="text" name="apellido" id="apellidos" placeholder="Ingresa tu Apellido">
    <input class="controls" type="email" name="username" id="correo" placeholder="Ingresa tu Correo">
    <input class="controls" type="password" name="password" id="correo" placeholder="Ingresa tu Contraseña">
  

<!--clase boton registrar-->
 <input type="submit" class="box" value="Ingresar" name="inicio">
 
<!--Boton con etiqueta y enlace a otra pagina-->

    <p><a href="/LOGIN">Ya tengo Cuenta</a></p>
  </section>

</form>
<!--Fin de la clase madre para el formulario de registro-->
</body>
</html>